@mixin btn-hover($background, $border, $text-color) {
  background-color: $background;
  border: $border;
  color: $text-color;
}

@mixin flex($align, $justify) {
    align-items: $align;
    display: flex;
    flex-direction: column;
    justify-content: $justify;
}
