@import 'mixins';
@import 'variables';


body {
  align-items: center;
  background-color: #FEF4F4;
  display: flex;
  justify-content: center;
  height: 100vh;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 80%;
}

button {
  cursor: pointer;
  font-size: 15px;
  height: 50px;
  width: 100px;
    &:hover,
    &:focus {
      @include btn-hover(#4C8BE4, 1px solid black, white)
    }
}

.welcome-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 80%;
}

h1 {
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  width: 300px;
}

label {
  font-size: 30px;
}

input {
  font-size: 20px;
  height: 40px;
  margin: 5px 0px;
  text-indent: 10px;
}

.error {
  border: 2px solid red;
}

.manager-form {
  display: none;
}

.user-form {
  display: none;
}

.manager-section {
  display: none;
}

.user-section {
  display: none;
  height: 75%;
  margin: 0 auto;
  width: 80%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "left right";
  grid-template-columns: .5fr .5fr;
  height: 100%;
}

.grid-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: left;
}

.customer-list {
  grid-area: right;
}

.input-container {
  height: 40px;
}

.datepicker-label {
  font-size: 15px;
}

#user-date {
  font-size: 15px;
  text-indent: 5px;
  width: 60%;
}

.datepicker-container {
  margin-left: 10px;
}

.reservation-history {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.customer-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.customer-bookings {
  border: 1px solid black;
  font-size: 15px;
  height: 370px;
  overflow: scroll;
  width: 100%;
}

.customer__booking--date {
  font-weight: bold;
}

#room-finder {
  font-size: 15px;
  height: 40px;
  text-indent: 5px;
  width: 60%
}

.reservation-container {
  align-items: flex-start;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly
}

.customer__rooms--section {
  display: none
}

.customer__rooms--results {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: none
}

.reservation-search {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px
}

.user__info--container {
  align-items: center;
  border: 2px dashed black;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 55%;
}
