@import 'variables';

$primary-background: pink;

body {
  background-color: $primary-background;
}

form {
  border: 1px solid green;
}

.manager-form {
  display: none;
}

.user-form {
  display: none;
}

.manager-section {
  display: none;
}

.user-section {
  display: none;
}
